*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

/* splashscreen */

.splash {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 200;
  color: #4f4d8b;
  text-align: center;
  line-height: 50%;
  transition: all 0.5s;
}

.splash.display-none {
  z-index: -10;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.sslogo {
  width: 290px;
  height: 35px;
}

/* General */

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: black;
  max-height: 100%;
  max-width: 100%;
}

/* Header */

header {
  height: 7%;
  display: flex;
  align-items: center;
}

header .container {
  width: 100%;
  margin-left: 0;
}

.navbar {
  margin: -0.5rem 0.1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-brand .point {
  width: 12px;
  height: 12px;
  background-color: #e5213d;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 5px;
}

.navbar-brand h1 {
  color: #e5213d;
  font-size: 18px;
  font-weight: bold;
  margin: 0%;
  transition: color 350ms;
}

.navbar-brand h1:hover {
  color: #fff;
}

.nav-link {
  padding: 0%;
}

.header-icons {
  color: #e5213d;
}

/* Main */

main {
  height: 86%;
  scroll-behavior: smooth;
  overflow-x: clip;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  border-radius: 2em / 2em;
}

/* Nav */

.floating_nav {
  position: fixed;
  background-color: #e5213d;
  border-radius: 25px;
  opacity: 20%;
  z-index: 2;
  left: 95%;
  top: 10%;
  transform: translateX(-95%);
  transform: translateY(-10%);
  width: 43px;
  height: 43px;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.floating_nav:hover {
  transform: translateY(-5%);
  position: fixed;
  transition: 0.5s ease-in-out;
  opacity: 100%;
  width: 165px;
  height: 303px;
  left: 88%;
}

.floating_nav:hover p {
  display: block;
  opacity: 50%;
  transition: 0.5s ease-in-out;
}

.floating_nav ul {
  list-style: none;
  padding-right: 42%;
  display: flex;
  height: 303px;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s ease-in-out;
}

.floating_nav:hover ul {
  padding-right: 15%;
  margin-left: -10%;
  padding-top: 10%;
}

.floating_nav a {
  text-decoration: none;
  opacity: 100%;
  color: white;
  transition: 0.3s ease-in-out;
}

.floating_nav a:hover {
  color: white;
  opacity: 100%;
  transition: 0.3s ease-in-out;
}

.clicked {
  color: black;
  font-weight: bold;
}

.floating_nav:hover > ul > a > li.clicked > p {
  display: block;
  opacity: 100%;
  transition: 0.5s ease-in-out;
}

.floating_nav li {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.floating_nav p {
  font-size: medium;
  padding-right: 10%;
  opacity: 50%;
  display: none;
  transition: 0.3s ease-in-out;
}

.floating_nav p:hover {
  opacity: 100;
  transition: ease-in-out 0.3s;
  display: block;
}

/* Carousel */

.carousel img {
  overflow-y: hidden;
  height: 90vh;
  width: 100vw;
}

.carousel-caption > p:nth-child(1) {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.carousel-indicators {
  bottom: 6%;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.carousel-indicators > li.active {
  background-color: #e5213d;
}

.carousel-caption {
  position: absolute;
  right: -0%;
  left: -0%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 35px;
  color: #fff;
  text-align: center;
}

.container-fluid {
  height: 90vh;
  scroll-snap-align: start;
}

.row {
  margin-right: -30px;
  margin-left: -30px;
}

section {
  padding-inline: 0 !important;
  position: relative;
}

section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  height: 7%;
}

footer h3,
h2 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #e5213d;
}

footer path {
  fill: #e5213d;
  transition: fill 350ms;
}

footer svg:hover > path {
  fill: #fff;
}

footer a > * {
  transition: color 350ms;
}

footer a:hover > * {
  color: #fff;
  fill: #fff;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    overflow-x: clip;
  }

  header {
    height: 10%;
  }

  main {
    height: 80%;
  }

  .floating_nav {
    position: fixed;
    background-color: #e5213d;
    border-radius: 25px;
    opacity: 20%;
    z-index: 2;
    left: 85%;
    top: 10%;
    transform: translateX(-50%);
    transform: translateY(-10%);
    width: 43px;
    height: 43px;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-in-out;
  }

  .floating_nav:hover {
    transform: translateY(-10%);
    transform: translateX(-80%);
    position: fixed;
    transition: 0.5s ease-in-out;
    opacity: 100%;
    width: 165px;
    height: 303px;
  }

  .floating_nav:hover p {
    display: block;
    opacity: 50%;
    transition: 0.5s ease-in-out;
  }

  .floating_nav ul {
    list-style: none;
    padding-right: 42%;
    display: flex;
    height: 303px;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
  }

  .floating_nav:hover ul {
    padding-right: 15%;
    margin-left: -10%;
    padding-top: 10%;
  }

  .floating_nav a {
    text-decoration: none;
    opacity: 100%;
    color: white;
    transition: 0.3s ease-in-out;
  }

  .floating_nav a:hover {
    color: white;
    opacity: 100%;
    transition: 0.3s ease-in-out;
  }

  .clicked {
    color: black;
    font-weight: bold;
  }

  .floating_nav:hover > ul > a > li.clicked > p {
    display: block;
    opacity: 100%;
    transition: 0.5s ease-in-out;
  }

  .floating_nav li {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
  }

  .floating_nav p {
    font-size: medium;
    padding-right: 10%;
    opacity: 50%;
    display: none;
    transition: 0.3s ease-in-out;
  }

  .floating_nav p:hover {
    opacity: 100;
    transition: ease-in-out 0.3s;
    display: block;
  }

  footer {
    height: 10%;
  }

  footer h3,
  h2 {
    color: #e5213d;
  }

  footer h2 {
    font-size: 0.8rem;
  }

  footer svg {
    scale: 2;
    margin-inline: 1rem;
  }
}
@media (max-width: 478px) {
  footer h3,
  h2 {
    color: #e5213d;
  }

  footer h2 {
    font-size: 0.7rem;
  }
}
