/* splashscreen */

.splash {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 200;
  color: #4f4d8b;
  text-align: center;
  line-height: 50%;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -10;
  color: #237508;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.sslogo {
  width: 25%;
}

/* General */

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: black;
  max-height: 96%;
  max-width: 100%;
}

/* Header */

header {
  height: 9%;
  padding-top: 0.7rem;
}

header .container {
  width: 100%;
  margin-left: 0vh;
}

.navbar {
  margin: -0.5rem 0.1rem;
}

.navbar-brand img {
  width: 15rem;
}

.nav-link {
  padding: 0%;
}

.header-icons {
  color: #e5213d;
}

/* Searchbar */

.form-inline {
  margin-bottom: -0.05rem;
}

.form-control {
  height: 1.2rem;
  background-color: black;
  border: none;
}

.form-control:focus {
  background-color: black;
  color: #e5213d;
}

.form-control::placeholder {
  color: #e5213d;
}

/* Main */

main {
  height: 87%;
  scroll-behavior: smooth;
  overflow-x: clip;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  border-radius: 2em / 2em;
}

/* Nav */

.floating_nav {
  position: absolute;
  background-color: #e5213d;
  border-radius: 25px;
  opacity: 20%;
  z-index: 2;
  margin-left: 95%;
  margin-top: 10%;
  width: 3%;
  height: 303px;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.floating_nav:hover {
  transition: 0.5s ease-in-out;
  opacity: 100%;
  width: 10%;
  height: 303px;
  margin-left: 88%;
}

.floating_nav:hover p {
  display: block;
  opacity: 50%;
  transition: 0.5s ease-in-out;
}

.floating_nav ul {
  list-style: none;
  padding-right: 100%;
  margin-left: -30%;
  display: flex;
  height: 303px;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s ease-in-out;
}

.floating_nav:hover ul {
  list-style: none;
  padding-right: 15%;
  margin-left: -10%;
  padding-top: 10%;
  transition: 0.5s ease-in-out;
}

.floating_nav a {
  text-decoration: none;
  opacity: 100%;
  color: white;
  transition: 0.3s ease-in-out;
}

.floating_nav a:hover {
  color: white;
  opacity: 100%;
  transition: 0.3s ease-in-out;
}

.clicked {
  color: black;
  font-weight: bold;
}

.floating_nav:hover > ul > a > li.clicked > p {
  display: block;
  opacity: 100%;
  transition: 0.5s ease-in-out;
}

.floating_nav li {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.floating_nav p {
  font-size: medium;
  padding-right: 10%;
  opacity: 50%;
  display: none;
  transition: 0.3s ease-in-out;
}

.floating_nav p:hover {
  opacity: 100;
  transition: ease-in-out 0.3s;
  display: block;
}

/* Carousel */

.carousel img {
  overflow-y: hidden;
  height: 90vh;
  width: 200vh;
}

.carousel-indicators {
  bottom: 8%;
}

/*.carousel {
  width: 175.1vh;
  margin-left: -2.8vh;
}*/

.carousel-caption {
  position: absolute;
  right: -0%;
  left: -0%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 35px;
  color: #fff;
  text-align: center;
}

.container-fluid {
  height: 90vh;
  scroll-snap-align: start;
}

.row {
  margin-right: -30px;
  margin-left: -30px;
}

.two {
  background-image: url(public/img/langue.jpg);
  background-position: center;
}

.three {
  background-image: url(public/img/histoire.jpg);
  background-position: center;
}

.four {
  background-image: url(public/img/geographie.jpg);
  background-position: 40% 40%;
}

.five {
  background-image: url(public/img/art.jpg);
  background-position: center;
}

.six {
  background-image: url(public/img/ressources.jpg);
  background-position: 65%;
}

.seven {
  background-image: url(public/img/disclaimer.jpg);
  background-position: center;
}

/* Footer */

footer h3,
h6 {
  color: #e5213d;
}

footer {
  padding-top: 0.8rem;
}

@media (max-width: 600px) {
  body {
    width: 110%;
    overflow-x: clip;
  }

  .navbar-brand img {
    width: 10rem;
  }

  footer h3,
  h6 {
    font-size: medium;
  }
}
@media (max-width: 478px) {
  footer h3,
  h6 {
    font-size: small;
  }
}
